@font-face {
    font-family: "Verdana";
}
body {
    font-family: "Verdana";
}

.banner {
    width: 100%;
    margin-left: -30%;
}

.txtaanbevolen {
    padding-top: 3%;
}

#advertentie1 {
    padding-top: 1%;
    font-family: "Tahoma";
    font-size: 11px;
    float: left;
}

#advertentie2 {
    float: left;
    padding-top: 1%;
    padding-left: 4%;
    font-family: "Tahoma";
    font-size: 11px;
    padding-right: 4%;
}

#advertentie3 {
    padding-top: 1%;
    font-family: "Tahoma";
    font-size: 11px;
}

.star {
    font-size: 31px;
}
.checked {
    color: rgb(38, 87, 187);
}

.txttoonalles {
    font-size: 19px;
    color: rgb(38, 87, 187)
}

.txtindebuurt {
    padding-top: 3%;
}

#advertentie4 {
    font-family: "Tahoma";
    font-size: 11px;
    float: left;
}

#advertentie5 {
    font-family: "Tahoma";
    font-size: 11px;
    float: left;
    padding-left: 4%;
    padding-right: 4%;
}

#advertentie6 {
    font-family: "Tahoma";
    font-size: 11px;
}